---
- hosts: all
  become: yes
  vars:
    repo_url: "https://github.com/RomanSheptytskyi/wd-cpp"
    project_dir: "/opt/wd-cpp"
    docker_compose_version: "2.29.7"

  tasks:

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install required packages
      apt:
        name:
          - git
          - docker.io
          - curl
        state: present

    - name: Enable and start Docker service
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Download docker-compose binary
      get_url:
        url: "https://github.com/docker/compose/releases/download/v{{ docker_compose_version }}/docker-compose-{{ ansible_system }}-{{ ansible_userspace_architecture }}"
        dest: /usr/local/bin/docker-compose
        mode: '0755'

    - name: Ensure /opt directory exists
      file:
        path: /opt
        state: directory

    - name: Clone wd-cpp repository
      git:
        repo: "{{ repo_url }}"
        dest: "{{ project_dir }}"
        version: main
        force: yes

    - name: Run docker-compose (build + up)
      shell: docker-compose up -d --build
      args:
        chdir: "{{ project_dir }}"

